@charset "utf-8";
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	text-align: center;
}
#containtner {
	margin: auto;
	width: 760px;
	color: #003399;
	background-color: #666666;
	border: 2px solid #336633;
}
#header {
	background-image: url(images/header01.jpg);
	height: 95px;
}
#header_quangcao {
	height: 70px;
	width: 350px;
	float: right;
}
#homnay {
	float: right;
	height: 25px;
	width: 350px;
	padding-top: 5px;
	font-weight: bold;
	color: #99ff00;
	text-align: right;
}
#header_left {
	float: left;
	height: 95px;
	width: 400px;
}
#menu {
	height: 30px;
}
#menu {
	height: 30px;
	background-color: #999999;
}
#main {
}
#leftmain {
	float: left;
	width: 150px;
}
#rightmain {
	float: right;
	width: 150px;
}
#thongbao {
	height: 25px;
	margin-right: 150px;
	margin-left: 150px;
	background-color: #cccccc;
}
#content {
	color: #ffff66;
	background-color: #999999;
	margin-right: 150px;
	margin-left: 150px;
}
#footer {
	color: #336699;
	font-size: 18px;
	clear: both;
	height: 90px;
	background-image: url(images/footer_bg.gif);
}
#thanhvien {
	background-color: #ECE9D8;
	border: 2px ridge #CC9933;
	font-weight: bolder;
	color: #FF0E99;
}
#formtimkiem {
	background-color: #999933;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px inset #997225;
	padding: 5px;
}
#tim {
	background-color: #cc6699;
	text-align: center;
	border: 1px solid #99cc00;
	width: 130px;
}
#binhchon {
	color: #ff0e99;
	background-color: #cccccc;
	text-align: justify;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.tieudebox {
	background-color: #ffffff;
	color: #ff0966;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	text-align: left;
	font-family: Georgia, "Times New Roman", Times, serif;
}





#username {
	text-align: center;
	width: 140px;
	border: 1px solid #99cc00;
	background-color: #cc6699;
	height: 20px;
}
#password {
	text-align: center;
	width: 140px;
	border: 1px solid #99cc00;
	background-color: #cc6699;
	height: 20px;
}
#formdangnhap {
	margin-top: 5px;
	margin-bottom: 5px;
}
#formbinhchon {
	margin: 0px;
	padding: 5px;
}
